body{
	background-color: #ffffe6;
}

.pole{
	width: device-width;
	height: 100px;
	background-color: white;
	border-style: solid;
	border-color: green;
	
}.text2:hover{
	color: green;
}

.text3:hover{
	color: green;
}

.text4:hover{
	color: green;
}

.text5:hover{
	color: green;
}

.text6:hover{
	color: green;
}
.text2{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 30%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text3{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 40%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text4{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text5{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 60%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text6{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 70%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.sok{
	position: absolute;
	top: 400px;
	transform: translate (-50%,-50%);
	left: 35%;
	font-size:30px;
	width: 600px;
	font-family: Raleway;
	color: green;
}
.logo{
	height: 100px;
	width:100px;
	position: absolute;
	left: 100px;
	transform: translate(-50%,-50%);
	top: 64px;
}
.pomidor{
	position: absolute;
	top: 550px;
	transform: translate (-50%,-50%);
	left: 35%;
	height: 500px;
	width: 600px;
}
.banan{
	position: absolute;
	top: 1100px;
	transform: translate (-50%,-50%);
	left: 35%;
	font-size:30px;
	width: 600px;
	font-family: Raleway;
	color: green;
}
.bananzdj{
	position: absolute;
	top: 1200px;
	transform: translate (-50%,-50%);
	left: 35%;
	height: 500px;
	width: 600px;
}
.ziemniak{
	position: absolute;
	top: 1750px;
	transform: translate (-50%,-50%);
	left: 35%;
	font-size:30px;
	width: 600px;
	font-family: Raleway;
	color: green;
}
.ziemniakzdj{
	position: absolute;
	top: 1900px;
	transform: translate (-50%,-50%);
	left: 35%;
	height: 500px;
	width: 600px;
	margin-bottom: 100px;
}
.ciek {
	width:800px;
	position: absolute;
	transform: translate(-50%);
	height: 200px;
	left: 50%;
	top: 200px;
}
.text1{
	font-family: Raleway;
	font-size: 100px;
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.czy{
	position: absolute;
	top: 80px;
	transform: translate (-50%,-50%);
	left: 10%;
	font-size:30px;
	font-family: Raleway;
	color: black;
}
