body{
	background-color: #ffffe6;
}
.text1{
	font-family: Raleway;
	font-size: 60px;
	position: absolute;
	left: 50%;
	top: 190px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.pole{
	width: device-width;
	height: 100px;
	background-color: white;
	border-style: solid;
	border-color: green;
	
}
.text2{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 30%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text3{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 40%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text4{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text5{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 60%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text6{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 70%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.recipe{
	position: absolute;
	left: 50%;
	top: 600px;
	transform: translate(-50%,-50%);
	height: 650px;
	width: 1200px;
	border-radius: 20px;
	background-color: #e6f7ff;
}
.tresc{
	font-size: 50px;
	font-family: Dancing Script ;
	text-align: center;
	width: 1000px;
	position: absolute;
	top: 60%;
    left: 50% ;
	transform: translate(-50%, -50%);
}
.skladniki{
	font-size: 40px;
	font-family: Dancing Script ;
	text-align: center;
	width: 1000px;
	position: absolute;
	top: 35%;
    left: 50% ;
	transform: translate(-50%, -50%);
	color: green;
}