body{
	background-color: #ffffe6;
}
.opis{
	font-size: 50px;
	text-shadow:0 0 6px white;
	font-family: Josefin Sans ;
	text-align: center;
	width: 700px;
	height: 300px;
	position: absolute;
	top: 60%;
    left: 50% ;
	transform: translate(-50%, -50%);
	background-color: yellow;
	border-radius: 10px;
}
.text1{
	font-family: Raleway;
	font-size: 100px;
	position: absolute;
	left: 50%;
	top: 190px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.pole{
	width: device-width;
	height: 100px;
	background-color: white;
	border-style: solid;
	border-color: green;
	
}
.text2:hover{
	color: green;
}

.text3:hover{
	color: green;
}

.text4:hover{
	color: green;
}

.text5:hover{
	color: green;
}

.text6:hover{
	color: green;
}
.text2{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 30%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text3{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 40%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text4{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text5{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 60%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text6{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 70%;
	top: 60px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.logo{
	height: 100px;
	width:100px;
	position: absolute;
	left: 100px;
	transform: translate(-50%,-50%);
	top: 64px;
}