body{
	background-color: #ffffe6;
		
}


.pole{
	width: auto;
	height: 100px;
	background-color: white;
	border-style: solid;
	border-color: green;
	
}

.text2:hover{
	color: green;
}

.text3:hover{
	color: green;
}

.text4:hover{
	color: green;
}

.text5:hover{
	color: green;
}

.text6:hover{
	color: green;
}
.text2{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 30%;
	top: 50px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
	
}
.text3{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 40%;
	top: 50px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text4{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text5{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 60%;
	top: 50px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.text6{
	font-family: Raleway;
	font-size: 20px;
	position: absolute;
	left: 70%;
	top: 50px;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
.poletxt{
	  margin-left: 20px;
  margin-right: 20px;
  color: black;
  background-color: white;
  transition-duration: 0.2s;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

}
.logo{
	height: 400px;
	width:400px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 500px;
}
.logo2{
	height: 100px;
	width:100px;
	position: absolute;
	left: 100px;
	transform: translate(-50%,-50%);
	top: 64px;
}
.str {
	width:10000px;
	position: absolute;
	transform: translate(-50%);
	height: 200px;
	left: 50%;
	top: 200px;
}
.text1{
	font-family: Raleway;
	font-size: 100px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: black;
}
